{% extends "common/base.html" %}<!--继承基础模板-->
{% block content %}
<aside class="right-side">

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        服务列表
                    </header>
                    <div class="panel-body table-responsive">
                        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/color.css')}}">
                        <table  class="table table-bordered">
                            <tbody>
                            <tr>
                                <th><a href="{{ url_for('server.addserver') }}">添加服务</a></th>
                            </tr>
                            <tr>
                                <th width="15%">主机名称</th>
                                <th width="15%">服务名称</th>
                                <th width="10%">服务端口</th>
                                <th width="10%">服务状态</th>
                                <th width="15%">归属用户</th>
                                <th width="15%">创建时间</th>
                                <th>操作</th>
                            </tr>
                            {% for row in list %}
                            <tr>
                                {% if row['status'] == 200 %}
                                <td class="success">{{ row['host'] }}</td>
                                <td class="success">{{ row['servername'] }}</td>
                                <td class="success">{{ row['serverport'] }}</td>
                                <td class="success">{{ row['status'] }}</td>
                                <td class="success">{{ row['serveruser'] }}</td>
                                <td class="success">{{ row['created'] }}</td>
                                {% else %}
                                <td class="error">{{ row['host'] }}</td>
                                <td class="error">{{ row['servername'] }}</td>
                                <td class="error">{{ row['serverport'] }}</td>
                                <td class="error">{{ row['status'] }}</td>
                                <td class="error">{{ row['serveruser'] }}</td>
                                <td class="error">{{ row['created'] }}</td>
                                {% endif %}
                                <td>&nbsp; <a class="btn btn-info" href="{{ url_for('.editserver',id=row['id']) }}">更新</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-danger"
                                                               href="/server/delserver?servername={{ row['servername'] }}">删除</a>
                                    &nbsp;&nbsp;&nbsp;<a class="btn btn-warning" href="/dev?restart_server={{ row['servername'] }}">重启</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</aside>
{% endblock %}
